<!DOCTYPE html>
<html>
<head>
  <title>Upload Tender Files</title>
</head>
<body>
  <h1>Upload Tender Files</h1>
  <form action="{% url 'api_view' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="division">Division:</label>
    <input type="text" name="division" required><br><br>
    
    <label for="tender_name">Tender Name:</label>
    <input type="text" name="tender_name" required><br><br>
    
    <label for="tender_number">Tender Number:</label>
    <input type="text" name="tender_number" required><br><br>
    
    <label for="published_date">Published Date:</label>
    <input type="date" name="published_date" required><br><br>
    
    <label for="uploaded_by">Uploaded By:</label>
    <input type="text" name="uploaded_by" required><br><br>
    
    <label for="uploaded_date">Uploaded Date:</label>
    <input type="date" name="uploaded_date" required><br><br>
    
    <label for="files">Files:</label>
    <input type="file" name="files" multiple required><br><br>
    
    <input type="submit" value="Upload">
  </form>
</body>
</html>
