.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 90%;
}

.reset-password-navigator-container {
  width: 90%;
}

.reset-password-navigator-container > img {
  max-width: 25px;
  max-height: 25px;

  cursor: pointer;
}

.reset-password-main-container {
  flex-basis: 85%;
  width: 100%;
  margin-top: 5%;
}

.reset-password-btn {
  text-transform: none;
}
