.category-main-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  border-radius: 11.023px;
  border: 1.107px solid #e0e0e0;
  transition: all 0.5s;
}

.category-heading-container {
  width: 100%;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-heading-container > h2 {
  font-size: var(--heading);
  line-height: var(--heading-line-height);
  color: #333;
}
.category-heading-container > button {
  background: none;
  border: none;
  font-size: 2em;
  font-weight: 300;
  cursor: pointer;
}

.category-content-container {
  width: 100%;
  padding: 1em 2em;
  height: auto;
  transition: all 0.5s;
  background: #f8f8fe;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sub_category-container {
  padding: 1em;
  width: 100%;
  border-radius: 11.023px;
  border: 1.107px solid #e0e0e0;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sub_category-heading-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub_category-heading-container > h3 {
  font-size: var(--normal-text);
  line-height: var(--normal-text-line-height);
  font-weight: var(--normal-text-font-weight);
}

.sub_category-heading-container > button {
  background: none;
  border: none;
  font-size: 2em;
  font-weight: 300;
  cursor: pointer;
}

.sub_category-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sub_category-content-container > button {
  border-radius: 6.533px;
  border: 1.307px solid rgba(0, 0, 0, 0.1);
  background: #f8f8fe;
  box-shadow: 0px 1.306512475013733px 1.306512475013733px 0px rgba(0, 0, 0, 0.2);
  padding: 1em 2em;
  cursor: pointer;
  width: fit-content;
}

.category-download-container {
  padding: 1em;
  width: 100%;
}

.category-download-container > button {
  padding: 1em 2em;
  border-radius: 6.533px;
  border: 1.307px solid rgba(0, 0, 0, 0.1);
  background: #186daa;
  box-shadow: 0px 1.306512475013733px 1.306512475013733px 0px
    rgba(0, 0, 0, 0.16);
  color: white;
  display: block;
  margin-left: auto;
  cursor: pointer;
}

.category-download-btn {
  padding: 1em 2em;
  border-radius: 6.533px;
  border: 1.307px solid rgba(0, 0, 0, 0.1);
  background: #186daa;
  box-shadow: 0px 1.306512475013733px 1.306512475013733px 0px
    rgba(0, 0, 0, 0.16);
  color: white;
  display: block;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.category-download-btn:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.category-download-btn:disabled:hover {
  transform: scale(0.975, 0.975);
  transition: all 0.3s ease-in-out;
}

.sub-category-download-btn-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 12px;
}

.sub-category-download-btn {
  border-radius: 6.533px;
  border: 1.307px solid rgba(0, 0, 0, 0.1);
  background: #f8f8fe;
  box-shadow: 0px 1.306512475013733px 1.306512475013733px 0px rgba(0, 0, 0, 0.2);
  padding: 1em 2em;
  cursor: pointer;
  width: fit-content;
  transition: all 0.3s ease-in-out;
}

.sub-category-download-btn:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.sub-category-download-btn:disabled:hover {
  transform: scale(0.975, 0.975);
  transition: all 0.3s ease-in-out;
}

.download-all-contents-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.5s;
  padding: 16px;
  padding-right: 0;
}

.download-all-contents-container > button {
  padding: 1em 2em;
  border-radius: 6.533px;
  border: 1.307px solid rgba(0, 0, 0, 0.1);
  background: #186daa;
  box-shadow: 0px 1.306512475013733px 1.306512475013733px 0px
    rgba(0, 0, 0, 0.16);
  color: white;
  cursor: pointer;
  font-size: 0.913rem;
  font-weight: 500;
}
