.ChemicalHandingCategory_Container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  border-radius: 11.023px;
  border: 1.107px solid #e0e0e0;
  transition: all 0.5s;
}

.ChemicalHandingCategory_container_heading {
  width: 100%;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ChemicalHandingCategory_container_heading > h2 {
  font-size: var(--heading);
  line-height: var(--heading-line-height);
  color: #333;
}
.ChemicalHandingCategory_container_heading > button {
  background: none;
  border: none;
  font-size: 2em;
  font-weight: 300;
  cursor: pointer;
}

.ChemicalHandingCategory_container_content {
  width: 100%;
  padding: 1em 2em;
  /* display: none; */
  height: auto;
  transition: all 0.5s;
  background: #f8f8fe;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.ChemicalHandingCategory_container_content_chemical_container {
  padding: 1em;
  width: 100%;
  border-radius: 11.023px;
  border: 1.107px solid #e0e0e0;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.ChemicalHandingCategory_container_content_chemical_container_1_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ChemicalHandingCategory_container_content_chemical_container_2_row {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.ChemicalHandingCategory_container_content_chemical_container_2_row_btn {
  border-radius: 6.533px;
  border: 1.307px solid rgba(0, 0, 0, 0.1);
  background: #f8f8fe;
  box-shadow: 0px 1.306512475013733px 1.306512475013733px 0px rgba(0, 0, 0, 0.2);
  padding: 1em 2em;
  cursor: pointer;
  width: fit-content;
}
.ChemicalHandingCategory_container_content_chemical_container_heading {
  font-size: var(--normal-text);
  line-height: var(--normal-text-line-height);
  font-weight: var(--normal-text-font-weight);
}
.ChemicalHandingCategory_container_content_chemical_container_btn {
  background: none;
  border: none;
  font-size: 2em;
  font-weight: 300;
  cursor: pointer;
}

.ChemicalHandingCategory_container_content_vaccum_container {
  padding: 1em;
  width: 100%;
  border-radius: 11.023px;
  border: 1.107px solid #e0e0e0;
  background-color: white;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 1em;
}
.ChemicalHandingCategory_container_content_vaccum_container_1_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ChemicalHandingCategory_container_content_vaccum_container_2_row {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.ChemicalHandingCategory_container_content_vaccum_container_2_row_btn {
  border-radius: 6.533px;
  border: 1.307px solid rgba(0, 0, 0, 0.1);
  background: #f8f8fe;
  box-shadow: 0px 1.306512475013733px 1.306512475013733px 0px rgba(0, 0, 0, 0.2);
  padding: 1em 2em;
  cursor: pointer;
  width: fit-content;
}
.ChemicalHandingCategory_container_content_vaccum_container_heading {
  font-size: var(--normal-text);
  line-height: var(--normal-text-line-height);
  font-weight: var(--normal-text-font-weight);
}
.ChemicalHandingCategory_container_content_vaccum_container_btn {
  background: none;
  border: none;
  font-size: 2em;
  font-weight: 300;
  cursor: pointer;
}

.ChemicalHandingCategory_container_content_downbtn_container {
  padding: 1em;
  width: 100%;
}
.ChemicalHandingCategory_container_content_downbtn_container_btn {
  padding: 1em 2em;
  border-radius: 6.533px;
  border: 1.307px solid rgba(0, 0, 0, 0.1);
  background: #186daa;
  box-shadow: 0px 1.306512475013733px 1.306512475013733px 0px
    rgba(0, 0, 0, 0.16);
  color: white;
  display: block;
  margin-left: auto;
  cursor: pointer;
}

p {
  white-space: pre-line;
}
