.upload_tender-data-container {
  background-color: #ffffff;
  width: clamp(60%, 60%, 60%);
  height: clamp(80%, 80%, 80%);
  border-radius: 10px;
  padding: 2rem 4rem;

  display: flex;
  flex-direction: column;
  max-width: 600px;
  max-height: 500px;
}

.upload_tender-heading {
  text-align: center;
  flex-basis: 10%;
}

.upload_tender_form-grid-container {
  flex-basis: 90%;
  flex-grow: 2;

  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(4, 22.5%);
  justify-items: self-start;
  align-items: center;
  column-gap: 10%;
  row-gap: 3.33%;
}

.upload_tender_form-grid-container > * {
  width: 100%;
}

.tender_name-container,
.tender_submit-btn-container {
  grid-column: 1/ 3;
}

.tender_upload-form-label {
  font-size: 0.813rem;
  display: block;
  padding-bottom: 0.25rem;
}

.tender_upload-input {
  border-radius: 5px;
  border: none;
  outline: 0.5px solid #186daaaa;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(169, 180, 203, 0.25);
  padding: 0.5rem;
  width: 100%;
}

.tender_upload-input:active,
.tender_upload-input:focus {
  outline: 0.5px solid #186daaaa;
}

.tender_upload-input:disabled {
  cursor: not-allowed;
  background-color: #f4f5ff;
}

::-webkit-calendar-picker-indicator {
  background-image: url(../images/calendar_icon.svg);
  cursor: pointer;
}

.tender_submit-btn-container > button {
  padding: 0.5rem 2.25rem;
}
